
<div class="row">
  <div class="col-6">

    <h3> Chat</h3>
  </div>
  <div class="col-6 text-right">
    <button
    (click)="_chatService.logout()"
    type="button" class="btn btn-outline-danger">
      Salir
    </button>
  </div>
<hr>
</div>
<div class="app-mensajes">
  <div id="app-mensajes" class="app-mensajes">

    <div  *ngFor="let chat of _chatService.chats | async"
          [ngClass]="{
            'text-right': chat.uid == _chatService.usuario.uid }">
      <span class="badge"
            [ngClass]="{
              'badge-primary': chat.uid == _chatService.usuario.uid,
              'badge-success': chat.uid != _chatService.usuario.uid}">
        {{ chat.nombre }}
      </span>
      <p>
        {{ chat.mensaje }}
      </p>
    </div>
  </div>
</div>
<input [(ngModel)]="mensaje"
        name="mensaje"
        (keyup.enter)="enviar()"
        class="form-control"
        placeholder="Mensaje...">
